body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('employee.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    text-align: center;
    max-width: 650px;
    margin: 50px auto;
    padding: 50px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
}
button {
    padding: 9px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

#usersList {
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-item:last-child {
    border-bottom: none;
}

.user-item:hover {
    background: #f0f0f0;
}
button{
    align-items: center;
    text-align: center;
    
}
